*{
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-family:Poppins;
}
body{
background-image: linear-gradient(#B8E7FA,#B8E7FA);
}
 .header-content{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 24px ;

 }
 h1{
    gap: 30px;
    margin-left: 50px;
 }
span{
    color: #FFA500;
}
.btn{
    background-image: linear-gradient(to right,#FFA500, #ffd447);
    border: 1px solid yellow;
    border-radius: 10px;
    padding: 10px;
    opacity: 80%;
    font-size: 20px;
    margin-right: 50px;
}

p,.discuss-p{
    padding: 20px ;
    opacity: 70%;
    font-size: 18px;
    height: 52px ;
    width: 852px;
    margin: 20px auto;
     
}
#connect{
    border-radius: 16px;
    padding: 40px 60px;
    margin: 100px auto;
    background-color: white;
    height: 592px;
    width: 1260px;

}
.connect-content{
    text-align: center;
}

.connect-image{
    text-align: center;
    margin-bottom: 32px;

}
h2{
    font-size: 48px;
}

.heading-content{
    text-align: center;
    margin-bottom: 20px;
}

#discuss{
    background-color: white;
    border-radius: 16px;
    padding: 48px;
    margin: 48px auto;
    height: 484px;
    width: 1260px;
    display: flex;
    justify-content: space-between;

}
.discuss-content{
height: 170px;
width: 725px;
text-align: left;
padding-top: 108px;
margin: 50px;

}

.discuss-p{
    text-align: left;
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
}
.discuss-image{
    margin-top: 50px;
    margin-right: 278px;
    background-size: cover;  
}